{% extends "base.html" %}

{% block content %}

<div class="row">

<div class="col-md-8">

<h2>Prochains créneaux d'aide</h2>

<table class="table table-striped">

<thead>
<tr>
<th>Date</th>
<th>Compétence</th>
<th>Activité</th>
</tr>
</thead>

<tbody>

{% for slot in slots %}

<tr>

<td>{{ slot.slot }}</td>

<td>{{ slot.required_skill }}</td>

<td>{{ slot.description }}</td>

</tr>

{% empty %}

<tr>
<td colspan="3">Aucun créneau disponible</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>


<div class="col-md-4">

<h2>Compétences disponibles</h2>

<ul class="list-group">

{% for skill in skills %}

<li class="list-group-item">

{{ skill.name }}

</li>

{% endfor %}

</ul>

</div>

</div>

{% endblock %}