{% extends "base.html" %}

{% block content %}

<h2>Demandes correspondant à vos compétences</h2>

<table class="table table-bordered table-hover">

<thead class="table-primary">

<tr>
<th>Date</th>
<th>Activité</th>
<th>Action</th>
</tr>

</thead>

<tbody>

{% for demande in demandes %}

<tr>

<td>{{ demande.slot }}</td>

<td>{{ demande.description }}</td>

<td>

<a class="btn btn-success btn-sm"
href="{% url 'app:offer_help' demande.id %}">

Se proposer

</a>

</td>

</tr>

{% empty %}

<tr>
<td colspan="3">Aucune demande disponible</td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}